@inject IJSRuntime IJS
@inject UserProfileService UserSvc
@inject ListingService ListingSvc

<div id="recent-product-item-listing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-md-12 recent-item-listing-heading bt_heading_3">
                    <h1>Daftar <span>Terbaru</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                     @if (ListItems != null)
                        @foreach (var item in ListItems)
                        {
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="recent-listing-box-container-item">
                                    <div class="col-md-6 col-sm-12 nopadding">
                                        <div class="recent-listing-box-image">
                                            <h1>@item.Category.Name</h1>
                                            <img src="@(item.ImageUrls.Split(';')[0])" alt="img1">
                                        </div>
                                        <div class="hover-overlay">
                                            <div class="hover-overlay-inner">
                                                <ul class="listing-links">
                                                    <li><a href="#"><i class="fa fa-heart green-1"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-map-marker blue-1"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-share yallow-1"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 nopadding">
                                        <div class="recent-listing-box-item">
                                            <div class="listing-boxes-text">
                                                <a href="listing_detail/@item.Id">
                                                    <h3>@item.Title</h3>
                                                </a> <a href="tel:@(item.Phone)"><i class="fa fa-phone"></i> @item.Phone</a>
                                                <p>@StringHelper.Shorten(item.Desc,AppConstants.LimitCharDesc)</p>
                                            </div>
                                            <div class="recent-feature-item-rating">
                                                <h2><i class="fa fa-map-marker"></i> @item.Kota</h2>
                                                <span>
                                                    @{
                                                        var ratingKosong = 5 - item.Rating;
                                                    }
                                                    @for (var x = 0; x < item.Rating; x++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    @for (var x = 0; x < ratingKosong; x++)
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>
@code {


    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    string Nama = "Saya";
    string Username;

    protected override async Task OnInitializedAsync()
    {


        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var UserName = user.Identity.Name;
            Nama = UserSvc.GetItemByEmail(UserName)?.FullName;
        }

        await LoadData();
    }
    List<Listing> ListItems = new();
    async Task LoadData(string Tipe = "")
    {

        ListItems = ListingSvc.GetLatestListing(6);


    }
}
