@page "/dashboard"
@inject IJSRuntime IJS
@inject UserProfileService UserSvc
@inject ListingService ListingSvc
<BreadcrumbPage LinkName="Dashboard" LinkUrl="/dashboard"></BreadcrumbPage>

<div id="dashboard_inner_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-12 all-categorie-list-title bt_heading_3">
                    <h1>Dashboard</h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                    <InnerSideBarPage></InnerSideBarPage>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div id="dashboard_listing_blcok">
                            <div class="col-md-3 col-sm-6">
                                <div class="statusbox">
                                    <h3>Jumlah Posting</h3>
                                    <div class="statusbox-content">
                                        <p class="ic_status_item ic_col_one"><i class="fa fa-line-chart"></i></p>
                                        <h2>@Info?.TotalPost.ToString("n0")</h2>
                                        <span>Diperbarui @Now.ToString("dd/MMM/yyyy")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="statusbox">
                                    <h3>Jumlah Tayangan</h3>
                                    <div class="statusbox-content">
                                        <p class="ic_status_item ic_col_two"><i class="fa fa-line-chart"></i></p>
                                        <h2>@Info?.TotalView.ToString("n0")</h2>
                                        <span>Diperbarui @Now.ToString("dd/MMM/yyyy")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="statusbox">
                                    <h3>Jumlah Komentar</h3>
                                    <div class="statusbox-content">
                                        <p class="ic_status_item ic_col_three"><i class="fa fa-line-chart"></i></p>
                                        <h2>@Info?.TotalComment.ToString("n0")</h2>
                                        <span>Diperbarui @Now.ToString("dd/MMM/yyyy")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="statusbox">
                                    <h3>Jumlah Favorit</h3>
                                    <div class="statusbox-content">
                                        <p class="ic_status_item ic_col_four"><i class="fa fa-line-chart"></i></p>
                                        <h2>@Info?.TotalFavorite.ToString("n0")</h2>
                                        <span>Diperbarui @Now.ToString("dd/MMM/yyyy")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="statusbox">
                                    <h3>Jumlah Penanda</h3>
                                    <div class="statusbox-content">
                                        <p class="ic_status_item ic_col_four"><i class="fa fa-line-chart"></i></p>
                                        <h2>@Info?.TotalBookmark.ToString("n0")</h2>
                                        <span>Diperbarui @Now.ToString("dd/MMM/yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    DateTime Now = DateHelper.GetLocalTimeNow();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    UserProfile selUser;
    public MyStat Info { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {


        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            selUser = UserSvc.GetItemByEmail(UserName);
            Info = ListingSvc.GetMyStat(selUser.Id);

        }


    }
}