@page "/listing_detail"
@page "/listing_detail/{listingId:long}"
@inject IJSRuntime IJS
@inject IToastService toastService
@inject ListingService ListingSvc
@inject UserProfileService UserSvc
@inject ListingCommentService ListingCommentSvc
<div class="details-lt-block">
    <div class="slt_block_bg"><img src="images/detail-view-bg.jpg" alt=""></div>
    <div class="container header_slt_block">
        <div class="slt_item_head">
            <div class="user_logo_pic"> <img alt="" src="@(string.IsNullOrEmpty(ListingItem.User.PicUrl)? "images/company-logo.jpg":ListingItem.User.PicUrl)"> </div>
            <div class="slt_item_contant">
                <h1>@ListingItem.Title</h1>
                <p class="contact_number"><i class="fa fa-phone"></i> @ListingItem.Phone</p>
                <p class="email_detail"><i class="fa fa-envelope-o"></i> <a href="mailto:@(ListingItem.Email)">@ListingItem.Email</a></p>
                <p class="location"><i class="fa fa-map-marker"></i> @ListingItem.Alamat</p>
                <div class="rating-box">
                    <div class="rating">
                        <span>
                            @{

                                var ratingKosong = 5 - ListingItem.Rating;
                            }
                            @for (var x = 0; x < ListingItem.Rating; x++)
                            {
                                <i class="fa fa-star"></i>
                            }
                            @for (var x = 0; x < ratingKosong; x++)
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        </span>
                    </div>
                </div>
                @{
                    var like = LikeList[ListingItem.Id];
                    var bookmark = BookmarkList[ListingItem.Id];
                }
                <div class="head-bookmark-bock">
                    <div class="detail-banner-btn"><a href="#" @onclick:preventDefault @onclick="(() => ToogleBookmark(ListingItem, bookmark))"><i class="fa fa-bookmark-o"></i> @(bookmark ? "Remove Bookmark" : "Bookmark")</a></div>
                    <div class="detail-banner-btn"><a href="#" @onclick:preventDefault @onclick="(() => TogglePostLike(ListingItem, like))"><i class="fa fa-heart-o"></i>@(like ? "Remove Heart" : "Give Heart") </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="vfx-product-inner-item">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="slider">
                    <div class="detail-gallery">
                        <div class="detail-gallery-preview"> <a href="@(ListingItem.ImageUrls.Split(';')[0])"> <img src="@(ListingItem.ImageUrls.Split(';')[0])" alt="" /> </a> </div>
                        <ul class="detail-gallery-index">
                            @foreach (var picUrl in ListingItem.ImageUrls.Split(';'))
                            {
                                <li class="detail-gallery-list-item active"><a data-target="@picUrl"><img src="@picUrl" alt=""> </a> </li>
                            }


                        </ul>
                    </div>
                </div>
                <div class="dlt-title-item">
                    <h2>Product Discription</h2>
                    <div>@ListingItem.CreatedDate.ToString("MMMM") <span>@ListingItem.CreatedDate.ToString("dd, yyyy")</span></div>
                    <p>
                        @ListingItem.Desc
                    </p>

                </div>
                <div class="dlt-spons-item">
                    <a href="#"><i class="fa fa-tag"></i> Tags</a>
                    @foreach (var tag in ListingItem.Tags.Split(';'))
                    {
                        <a href="#">@tag</a>
                    }
                </div>
                <div style="display:none;" class="detail-content">
                    <h2>Product Video</h2>
                    <div class="detail-video">
                        <iframe width="850" height="350" src="https://www.youtube.com/embed/6pxRHBw-k8M" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="detail-content">
                    <h2>Featured Listing</h2>
                    <ul class="detail-amenities">
                        @if (ListingItem.Facilities != null)
                        {
                            @foreach (var facility in ListingItem.Facilities.Split(';'))
                            {
                                <li class="yes">@facility</li>
                            }
                        }
                    </ul>
                </div>
                <div class="dlt-com-lt-comment-user">
                    <h2>Post A Comment</h2>
                    <div class="dlt-com-lt-block">
                        <div class="dlt-com-lt-img">
                            <img alt="new-thum-1" src="@(string.IsNullOrEmpty(ListingItem.User.PicUrl)?"images/come-user-img.png":ListingItem.User.PicUrl)">
                            <ul class="social-icons">
                                <li><a href="www.facebook.com/@(ListingItem.User.FBUrl)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="www.twitter.com/@(ListingItem.User.TwitterUrl)"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="www.linkedin.com/@(ListingItem.User.LinkedIdUrl)"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="dlt-com-lt-text">
                            <div class="dlt-com-lt-title">@ListingItem.User.FullName</div>
                            <div class="dlt-com-clt">@ListingItem.User.Pekerjaan</div>
                            <p>@ListingItem.User.AboutMe</p>
                        </div>
                    </div>
                </div>
                <div class="comments-wrapper">
                    <h2>@ListComment.Count().ToString("n0") Comments</h2>
                    <ul class="media-list">
                        @foreach (var comment in ListComment)
                        {
                            <li class="media">
                                <div class="media-left"> <a href="#"> <img alt="image" src="@(string.IsNullOrEmpty(comment.User.PicUrl)? "images/comment-thumb-1.jpg":comment.User.PicUrl)"> </a> </div>
                                <div class="media-body">
                                    <p>@comment.Comment</p>
                                    <div class="comment-meta clearfix">
                                        <a href="#"><span class="author-name">@comment.User.FullName</span></a> <span class="comment-lt-time">@comment.CreatedDate.ToString("dd MMM yyyy")</span> <span class="rating-box">
                                            <span class="rating">
                                                @{
                                                    var ratingKosong1 = 5 - comment.Rating;
                                                }
                                                @for (var x = 0; x < comment.Rating; x++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @for (var x = 0; x < ratingKosong1; x++)
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>
                    <div class="comment-respond">
                        <h2>Post A Comment</h2>
                        <AuthorizeView>
                            <Authorized>
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <span class="rating-box">
                                                    <span class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input placeholder="Full Name" readonly @bind="selUser.FullName" required class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input placeholder="Email Address" readonly @bind="selUser.Email" required class="form-control" type="email">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input placeholder="Your Website" readonly @bind="selUser.Website" required class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder="Type here message" @bind="NewComment.Comment" rows="7" required class="form-control"></textarea>
                                    </div>
                                    <button class="btn pull-right" @onclick="SubmitComment" type="button">Submit</button>
                                </div>
                            </Authorized>
                            <NotAuthorized>
                                <p>Please Sign-in first to give a comment.</p>
                            </NotAuthorized>
                        </AuthorizeView>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="left-slide-slt-block">
                    <h3>Search Listings</h3>
                </div>
                <div class="sidebar-listing-search-wrap">
                    <form action="#">
                        <p>Search For :</p>
                        <select class="sidebar-listing-search-select">
                            <option>All Categories 1</option>
                            <option>All Categories 2</option>
                            <option>All Categories 3</option>
                        </select>
                        <input class="sidebar-listing-search-input" placeholder="Search" name="search" type="text">
                        <p>Search Near :</p>
                        <select class="sidebar-listing-search-select">
                            <option>All Categories 1</option>
                            <option>All Categories 2</option>
                            <option>All Categories 3</option>
                        </select>
                        <input class="sidebar-listing-search-input" placeholder="Search" name="search" type="text">
                        <p>Advanced Search :</p>
                        <div id="slider-range-min" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"></div>
                            <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                        </div>
                        <div class="listing-search-btn">
                            <input class="sidebar-listing-search-btn" value="Search" type="submit">
                        </div>
                    </form>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Location List</h3>
                </div>
                <div class="left-location-item">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Manchester</a><span class="list-lt">07</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Lankashire</a><span class="list-lt">04</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> New Mexico</a><span class="list-lt">03</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Nevada</a><span class="list-lt">06</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Kansas</a><span class="list-lt">08</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> West Virginina</a><span class="list-lt">05</span></li>
                    </ul>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Archives</h3>
                </div>
                <div class="left-archive-categor">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> January 2016</a><span class="list-lt">09</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> February 2016</a><span class="list-lt">52</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> March 2016</a><span class="list-lt">36</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> April 2016</a><span class="list-lt">78</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> May 2016</a><span class="list-lt">66</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> June 2016</a><span class="list-lt">15</span></li>
                    </ul>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Popular Tags</h3>
                </div>
                <div class="archive-tag">
                    <ul>
                        <li><a href="#" class="active">Amazing</a></li>
                        <li><a href="#">Envato</a></li>
                        <li><a href="#">Themes</a></li>
                        <li><a href="#">Clean</a></li>
                        <li><a href="#">Responsivenes</a></li>
                        <li><a href="#">SEO</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">IOS</a></li>
                        <li><a href="#">Flat</a></li>
                        <li><a href="#">Design</a></li>
                    </ul>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Opening Hours</h3>
                </div>
                <div class="working-hours">
                    <div class="days"> <span class="name">Monday</span><span class="hours">@ListingItem.WorkHourSenin</span> </div>
                    <div class="days"> <span class="name">Tuesdat</span><span class="hours">@ListingItem.WorkHourSelasa</span> </div>
                    <div class="days"> <span class="name">Wednesday</span><span class="hours">@ListingItem.WorkHourRabu</span> </div>
                    <div class="days"> <span class="name">Thursday</span><span class="hours">@ListingItem.WorkHourKamis</span> </div>
                    <div class="days"> <span class="name">Friday</span><span class="hours">@ListingItem.WorkHourJumat</span> </div>
                    <div class="days"> <span class="name">Saturday</span><span class="hours">@ListingItem.WorkHourSabtu</span> </div>
                    <div class="days"> <span class="name">Sunday</span><span class="hours">@ListingItem.WorkHourMinggu</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public long listingId { get; set; }
    public Listing ListingItem { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    Dictionary<long, bool> LikeList = new();
    Dictionary<long, bool> BookmarkList = new();
    List<ListingComment> ListComment = new();
    string Nama = "Saya";
    string Username;
    bool HasLogin = false;
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    public ListingComment NewComment { get; set; } = new();
    async Task TogglePostLike(Listing post, bool Like)
    {
        if(!HasLogin)
        {
            toastService.ShowWarning("Please login first");
            return;
        }
        Like = !Like;
        if (Like)
        {
            ListingSvc.LikePost(selUser.Id, selUser.Username, post.Id);
        }
        else
        {
            ListingSvc.UnLikePost(selUser.Id, post.Id);
        }
        LikeList[post.Id] = Like;
    }

    async Task SubmitComment()
    {
        NewComment.CreatedDate = DateHelper.GetLocalTimeNow();
        NewComment.ListingId = ListingItem.Id;
        NewComment.Rating = 5;
        NewComment.UserId = selUser.Id;
        var res = ListingCommentSvc.InsertData(NewComment);
        if (res)
        {
            await LoadData();
        }
        else
        {
            toastService.ShowError("Gagal memberikan komentar, coba lagi nanti.");
        }
    }

    async Task ToogleBookmark(Listing post, bool AddBookmark)
    {
        if (!HasLogin)
        {
            toastService.ShowWarning("Please login first");
            return;
        }

        AddBookmark = !AddBookmark;
        if (AddBookmark)
        {
            ListingSvc.AddBookmark(selUser.Id, selUser.Username, post.Id);
        }
        else
        {
            ListingSvc.RemoveBookmark(selUser.Id, post.Id);
        }
        BookmarkList[post.Id] = AddBookmark;
    }
    UserProfile selUser;
    protected override async Task OnInitializedAsync()
    {


        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var UserName = user.Identity.Name;
            selUser = UserSvc.GetItemByEmail(UserName);
            NewComment.UserId = selUser.Id;
            HasLogin = true;
        }

        await LoadData();
    }

    async Task LoadData()
    {
        if (listingId > 0)
        {
            ListingItem = ListingSvc.GetDataById(listingId);
            if (ListingItem != null )
            {
                if (HasLogin)
                {
                    ListComment = ListingCommentSvc.GetAllData(ListingItem.Id);
                    LikeList.Clear();
                    if (ListingItem.ListingFavorites != null)
                    {
                        LikeList.Add(ListingItem.Id, ListingItem.ListingFavorites.Any(c => c.UserId == selUser.Id));
                    }
                    else
                    {
                        LikeList.Add(ListingItem.Id, false);
                    }

                    BookmarkList.Clear();
                    if (ListingItem.ListingBookmarks != null)
                    {
                        BookmarkList.Add(ListingItem.Id, ListingItem.ListingBookmarks.Any(c => c.UserId == selUser.Id));
                    }
                    else
                    {
                        BookmarkList.Add(ListingItem.Id, false);
                    }
                }
                else
                {
                    LikeList.Clear();
                    BookmarkList.Clear();
                    LikeList.Add(ListingItem.Id, false);
                    BookmarkList.Add(ListingItem.Id, false);
                }
            }

        }
    }
}
