@page "/listing_submit"
@inject IJSRuntime IJS

@inject NavigationManager NavMgr
@inject IToastService toastService
@using Dinding.Tools
@inject ListingService ListingSvc
@inject UserProfileService service
@inject CategoryService CategorySvc
@inject SubCategoryService SubCategorySvc
@inject AzureBlobHelper AzureBlobHelper
<BreadcrumbPage LinkName="Submit Listing" LinkUrl="/listing_submit"></BreadcrumbPage>

<div id="dashboard_inner_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-12 all-categorie-list-title bt_heading_3">
                    <h1>Submit <span>Listing</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                    <InnerSideBarPage></InnerSideBarPage>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="submit_listing_box">
                            <h3>Description</h3>
                            <form class="form-alt">
                                <div class="form-group">
                                    <label>Title :-</label>
                                    <input @bind="DataListing.Title" placeholder="Title" class="form-control" type="text">
                                </div> 
                                <div class="form-group">
                                    <label>Tags :-</label>
                                    <input @bind="DataListing.Tags" placeholder="Tags" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Listing Description :-</label>
                                    <textarea @bind="DataListing.Desc" placeholder="Listing description..." class="form-control" rows="5"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Attributes</h3>
                            <form class="form-alt">
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Category:-</label>
                                        <select @onchange="PilihCategory" class="form-control selectcategory" name="parent-cateogry">

                                            <option value="0">Select Category</option>
                                            @foreach (var cat in ListCategory)
                                            {
                                                <option value="@cat.Id">@cat.Name</option>
                                            }

                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Sub Category :-</label>
                                        <select @bind="DataListing.SubCategoryId" class="form-control selectcategory" name="parent-cateogry">
                                            <option value="0">Select Contract</option>
                                            @if (DataListing.CategoryId > 0)
                                                @foreach (var cat in ListSubCategory.Where(x => x.CategoryId == DataListing.CategoryId))
                                                {
                                                    <option value="@cat.Id">@cat.Name</option>
                                                }
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Price :-</label>
                                        <input @bind="DataListing.Harga" placeholder="Price" class="form-control" type="number">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Address :-</label>
                                        <input @bind="DataListing.Alamat" placeholder="Address" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>City :-</label>
                                        <input @bind="DataListing.Kota" placeholder="City" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Phone :-</label>
                                        <input @bind="DataListing.Phone" placeholder="Phone" class="form-control" type="tel">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>E-mail :-</label>
                                        <input @bind="DataListing.Email" placeholder="Email" class="form-control" type="email">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Working Hours</h3>
                            <form class="form-alt">
                                <div class="row">
                                    <div class="form-group col-md-4 col-sm-6 col-xs-6">
                                        <label>Monday :-</label>
                                        <input @bind="DataListing.WorkHourSenin" placeholder="00:00" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-6">
                                        <label>Tuesday :-</label>
                                        <input @bind="DataListing.WorkHourSelasa" placeholder="00:00" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-6">
                                        <label>Wednesday :-</label>
                                        <input @bind="DataListing.WorkHourRabu" placeholder="00:00" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-6">
                                        <label>Thursday :-</label>
                                        <input @bind="DataListing.WorkHourKamis" placeholder="00:00" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-6">
                                        <label>Friday :-</label>
                                        <input @bind="DataListing.WorkHourJumat" class="form-control" placeholder="00:00" type="text">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-6">
                                        <label>Saturday :-</label>
                                        <input @bind="DataListing.WorkHourSabtu" class="form-control" placeholder="00:00" type="text">
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-6">
                                        <label>Sunday :-</label>
                                        <input @bind="DataListing.WorkHourMinggu" class="form-control" placeholder="00:00" type="text">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Map Position</h3>
                            <form class="form-alt">
                                <div class="row">
                                    <div class="form-group ">

                                        <a class="btn btn-success btn-sm mt-2 mb-2" style="cursor:crosshair;color:white;" @onclick="(() => PrepareForPick())" data-toggle="modal" data-target="#locationModal">Pilih Lokasi di Peta</a>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-6- col-xs-12">
                                        <label>Latitude :-</label>
                                        <input @bind="DataListing.Latitude" placeholder="Latitude" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6- col-xs-12">
                                        <label>Lontgitude :-</label>
                                        <input @bind="DataListing.Longitude" placeholder="Lontgitude" class="form-control" type="text">
                                    </div>
                                </div>
                            </form>
                            <div style="display:none;" id="location-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60470630.45233501!2d73.17308624999998!3d22.32210265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1499682555819" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Gallery</h3>
                            <div class="fileupload_block">
                                <InputFile id="fileInput1" multiple OnChange="UploadFiles" hidden />
                                <div class="fileupload_img"> <img @onclick="(()=>PrepareUpload())" src="images/add_image.png" alt="add image" /> </div>
                                @if (DataListing.ImageUrls?.Length > 0)
                                {
                                    var images = DataListing.ImageUrls.Split(';');
                                    foreach (var imgFile in images)
                                    {
                                        <img src="@imgFile" alt="image" width="400" style="object-fit:contain" />
                                    }
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Amenities</h3>
                            <div class="amenities_block">
                                <ul class="detail-amenities">
                                    @foreach (var item in ListAmenities)
                                    {
                                        <li>
                                            <div class="checkbox checkbox-success">
                                                <input class="styled" @bind="item.Check" id="checkbox-1" name="checkbox" type="checkbox">
                                                <label class="control-label" for="checkbox-1">@item.Key</label>
                                            </div>
                                        </li>
                                    }


                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="from-list-lt">
                            <div class="form-group">
                                <button class="btn" type="button" @onclick="SaveListing">Submit Listing</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<PickLocation @ref="loc" DataChanged="@RefreshLocation">
    <CustomHeader>Pilih Lokasi</CustomHeader>
</PickLocation>
@code {
    public PickLocation loc { get; set; }
    class amenitiescls
    {
        public string Key { get; set; }
        public bool Check { get; set; }
    }
    bool IsFailed = false;
    UserProfile DataUser = new UserProfile();
    Listing DataListing = new();
    string ErrorMsg = string.Empty;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
    List<Category> ListCategory = new();
    List<SubCategory> ListSubCategory = new();
    List<amenitiescls> ListAmenities = new();
    void PrepareForPick()
    {
        loc.Address = DataListing.Alamat;
    }

    private async void RefreshLocation()
    {
        DataListing.Latitude = loc.SelectedLocation.Latitude.ToString();
        DataListing.Longitude = loc.SelectedLocation.Longitude.ToString();
        StateHasChanged();
    }
    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        var imageurls = new List<string>();
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {

            //var file = e.File;
            if (file != null)
            {
                var ms = new MemoryStream();
                await file.OpenReadStream().CopyToAsync(ms);
                var bytes = ImageHelper.FixedSize(ms, 900, 500, false);
                string newName = string.Empty;

                newName = $"listing_{(string.IsNullOrEmpty(DataUser.Username) ? "rojul" : DataUser.Username)}_{DateTime.Now.ToString("dd_MM_yyyy_HH_mm_ss")}_{file.Name}";
                var FileUrl = $"{AppConstants.UploadUrlPrefix}{newName}";
                await AzureBlobHelper.UploadFile(newName, bytes);
                imageurls.Add(FileUrl);

            }
        }
        DataListing.ImageUrls = string.Join(';', imageurls);
    }
    async Task PrepareUpload()
    {
        await IJS.InvokeVoidAsync("OpenFileUpload", "fileInput1");
    }
    void PilihCategory(ChangeEventArgs e)
    {
        var SelectedString = e.Value.ToString();
        var Selid = Convert.ToInt64(SelectedString);
        DataListing.CategoryId = Selid;
        //Console.WriteLine("It is definitely: " + SelectedString);
    }
    protected override async Task OnInitializedAsync()
    {

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            DataUser = service.GetItemByUsername(UserName);
            DataListing.Email = DataUser.Email;
            DataListing.Phone = DataUser.Phone;
        }
        ListCategory = CategorySvc.GetAllData();
        ListSubCategory = SubCategorySvc.GetAllData();
        AppConstants.Amenities.ToList().ForEach(x => ListAmenities.Add(new amenitiescls() { Key = x, Check = false }));
    }
    async Task SaveListing()
    {
        IsFailed = true;
        bool isPengurus = false;
        ErrorMsg = "";
        UserProfileService svc = new UserProfileService();

        if (string.IsNullOrEmpty(DataListing.Email))
        {
            ErrorMsg += "Tolong di isi email. ";

        }
        if (!Dinding.Tools.FormValidation.IsValidEmail(DataListing.Email))
        {
            ErrorMsg += "Format email tidak valid. ";

        }
        if (string.IsNullOrEmpty(DataListing.Alamat))
        {
            ErrorMsg += "Tolong di isi Alamat. ";

        }
        if (string.IsNullOrEmpty(DataListing.Desc))
        {
            ErrorMsg += "Tolong di isi Desc. ";

        }
        if (string.IsNullOrEmpty(DataListing.Phone))
        {
            ErrorMsg += "Tolong di isi Telepon. ";

        }
        if (DataListing.Harga <= 0)
        {
            ErrorMsg += "Tolong di isi Harga. ";

        }
        if (DataListing.CategoryId <= 0)
        {
            ErrorMsg += "Tolong di pilih category. ";

        }
        if (DataListing.SubCategoryId <= 0)
        {
            ErrorMsg += "Tolong di pilih sub category. ";

        }


        DataListing.UserId = DataUser.Id;
        var selectedAmenities = ListAmenities.Where(x => x.Check).Select(x => x.Key).ToList();
        if (selectedAmenities.Count > 0)
        {
            DataListing.Facilities = string.Join(';', selectedAmenities);
        }

        if (ErrorMsg.Length > 0)
        {
            toastService.ShowWarning(ErrorMsg, "Perhatian");
            return;
        }

        DataListing.CreatedDate = DateHelper.GetLocalTimeNow();
        DataListing.UpdatedDate = DateHelper.GetLocalTimeNow();
        if (ListingSvc.InsertData(DataListing))
        {
            toastService.ShowSuccess("Listing berhasil di simpan.", "Info");
            IsFailed = true;

        }

    }
}
