@page "/listing_grid"
@page "/listing_grid/{Keyword}"
@page "/listing_grid/{Keyword}/{SelCategory}"
@page "/listing_grid/tag/{SelTag}"
@page "/listing_grid/period/{SelMonth:int}/{SelYear:int}"
@page "/listing_grid/location/{SelLocation}"

@inject IJSRuntime IJS
@inject UserProfileService UserSvc
@inject ListingService ListingSvc

@inject CategoryService CategorySvc
@inject PopularTagService PopularTagSvc
@inject SubCategoryService SubCategorySvc

<BreadcrumbPage LinkName="Daftar Tabel" LinkUrl="/listing_grid"></BreadcrumbPage>

<div id="vfx-product-inner-item">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="news-search-lt">
                    <input class="form-control" @onkeyup="KeyUp" @bind="Keyword" placeholder="Cari" type="text">
                    <span class="input-search"> <i class="fa fa-search"></i> </span>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Kategori</h3>
                </div>
                <div class="list-group">
                    @if (ListCategories != null)
                        @foreach (var category in ListCategories)
                        {
                            <a href="" @onclick:preventDefault @onclick="()=>SelectCategory(category.Name)" class="list-group-item active"><i class="fa fa-hand-o-right"></i> @category.Name <span class="list-lt">@category.Total</span></a>
                        }
                </div>
                <div class="left-slide-slt-block">
                    <h3>Tag Populer</h3>
                </div>
                <div class="archive-tag">
                    <ul>
                        @foreach (var tag in ListPopularTag)
                        {
                            <li><a href="#" @onclick:preventDefault @onclick="()=>SelectTag(tag.Tag)">@tag.Tag</a></li>
                        }

                    </ul>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Daftar Lokasi</h3>
                </div>
                <div class="left-location-item">
                    <ul>
                        @foreach (var loc in ListLocations)
                        {
                            <li><a href="#" @onclick:preventDefault @onclick="()=>SelectLocation(loc.Location)"><i class="fa fa-angle-double-right"></i> @loc.Location</a><span class="list-lt">@loc.Count</span></li>
                        }
                    </ul>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Arsip</h3>
                </div>
                <div class="left-archive-categor">
                    <ul>
                        @foreach (var period in ListPeriod)
                        {
                            <li><a href="#" @onclick:preventDefault @onclick="()=>SelectPeriod(period)"><i class="fa fa-angle-double-right"></i> @period.MonthYear</a><span class="list-lt">@period.Count</span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="sorts-by-results">
                    <div class="col-md-6 col-sm-6 col-xs-6"> <span class="result-item-view">Hasil Yang Ditampilkan  <span class="yellow">@ListItems.Count.ToString("n0")</span>Iklan</span> </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="disp-f-right">
                            <div class="disp-style active"><a href="listing_grid"><i class="fa fa-th"></i></a></div>
                            <div class="disp-style"><a href="listing_list"><i class="fa fa-th-list"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <Virtualize Items="@ListItems" Context="item">
                        <div @key="item.Id" class="col-md-4 col-sm-6 col-xs-12">
                            <div class="feature-item-container-box listing-item">
                                <div class="feature-title-item">
                                    <h1>@item.Category.Name</h1>
                                    <img src="@(item.ImageUrls.Split(';')[0])" alt="img1">
                                </div>

                                <div class="hover-overlay">
                                    <div class="hover-overlay-inner">
                                        <ul class="listing-links">
                                            <AuthorizeView>
                                                <Authorized>
                                                    @{
                                                        var like = LikeList[item.Id];
                                                        var book = BookmarkList[item.Id];
                                                    }
                                                    <li>
                                                        <a href="#" @onclick:preventDefault @onclick="(() => TogglePostLike(item, like))">
                                                            @if (like)
                                                            {
                                                                <i class="fa fa-heart blue-1 "></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-heart-o green-1 "></i>

                                                            }
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" @onclick:preventDefault @onclick="(() => TogglePostBookmark(item, book))">
                                                            @if (book)
                                                            {
                                                                <i class="fa fa-map-marker blue-1"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-map-marker green-1"></i>

                                                            }
                                                        </a>
                                                    </li>
                                                </Authorized>
                                            </AuthorizeView>
                                            <li><a href="#" @onclick="(() => PrepareForView(item))" data-toggle="modal" data-target="#shareModal"><i class="fa fa-share yallow-1"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="feature-box-text">
                                    <h3><a href="listing_detail/@item.Id">@item.Title</a></h3>
                                    <a href="#"><i class="fa fa-phone"></i> @item.Phone</a>
                                    <p>@item.Desc</p>
                                </div>
                                <div class="feature-item-location">
                                    <h2><i class="fa fa-map-marker"></i> @item.Kota</h2>
                                    <span>
                                        @{
                                            var ratingKosong = 5 - item.Rating;
                                        }
                                        @for (var x = 0; x < item.Rating; x++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        @for (var x = 0; x < ratingKosong; x++)
                                        {
                                            <i class="fa fa-star-o"></i>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </Virtualize>

                    <div style="display:none;" class="vfx-person-block">
                        <ul class="vfx-pagination">
                            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ShareDialogPage @ref="detail" TaskObject=@itemObject>
    <CustomHeader>@customHeader</CustomHeader>
</ShareDialogPage>
@code {
    [Parameter]
    public int SelMonth { get; set; } = 0;

    [Parameter]
    public int SelYear { get; set; } = 0;

    [Parameter]
    public string SelLocation { get; set; }

    [Parameter]
    public string SelTag { get; set; }


    Listing itemObject = new();
    string customHeader = "Detail info";
    ShareDialogPage detail;
    Dictionary<long, bool> LikeList = new();
    Dictionary<long, bool> BookmarkList = new();

    [Parameter]
    public string Keyword { get; set; }

    [Parameter]
    public string SelCategory { get; set; } = "";
    IEnumerable<CategoryCountCls> ListCategories;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    List<PopularTag> ListPopularTag = new();
    List<LocationItemCls> ListLocations = new();
    List<PeriodFilterCls> ListPeriod = new();
    bool IsLogin = false;
    string Nama = "Saya";
    string Username;
    UserProfile selUser;
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    private void PrepareForView(Listing item)
    {
        customHeader = $"Share: {item.Title}";
        itemObject = item;
        //detail.DocumentUrl = item.DocumentUrl;
    }
    async Task TogglePostLike(Listing post, bool Like)
    {
        Like = !Like;
        if (Like)
        {
            ListingSvc.LikePost(selUser.Id, selUser.Username, post.Id);
        }
        else
        {
            ListingSvc.UnLikePost(selUser.Id, post.Id);
        }
        LikeList[post.Id] = Like;
    }

    async Task TogglePostBookmark(Listing post, bool Bookmark)
    {
        Bookmark = !Bookmark;
        if (Bookmark)
        {
            ListingSvc.AddBookmark(selUser.Id, selUser.Username, post.Id);
        }
        else
        {
            ListingSvc.RemoveBookmark(selUser.Id, post.Id);
        }
        BookmarkList[post.Id] = Bookmark;
    }
    protected override async Task OnInitializedAsync()
    {


        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var UserName = user.Identity.Name;
            selUser = UserSvc.GetItemByEmail(UserName);
            Nama = selUser?.FullName;
            IsLogin = true;
        }
        ListCategories = CategorySvc.GetCategoriesWithCount();
        ListPopularTag = PopularTagSvc.GetPopularTags();
        ListLocations = ListingSvc.GetLocations();
        ListPeriod = ListingSvc.GetPeriods();
        if (!string.IsNullOrEmpty(SelTag))
        {
            Keyword = SelTag;
            await LoadData("Tag");
        }else if (!string.IsNullOrEmpty(SelLocation))
        {
            Keyword = SelLocation;
            await LoadData("Location");
        }
        else if (SelMonth>0 && SelYear>0)
        {  
            await LoadData(new PeriodFilterCls() { Month = SelMonth, Year = SelYear });
        }else
            await LoadData();
    }
    List<Listing> ListItems = new();
    async Task LoadData(string Tipe = "")
    {
        switch (Tipe)
        {
            case "Tag":
                ListItems = ListingSvc.GetDataByTag(Keyword);
                break;
            case "Location":
                ListItems = ListingSvc.GetDataByLocation(Keyword);
                break;
            case "Category":
            default:
                ListItems = ListingSvc.GetAllData(Keyword, SelCategory);
                break;
        }

        await LoadLikeList();
    }

    async Task LoadLikeList()
    {
        if (ListItems != null && IsLogin)
        {
            LikeList.Clear();
            BookmarkList.Clear();
            ListItems.ForEach(x =>
            {
                if (x.ListingFavorites != null && !LikeList.ContainsKey(x.Id))
                {
                    LikeList.Add(x.Id, x.ListingFavorites.Any(c => c.UserId == selUser.Id));
                }
                else
                {
                    LikeList.Add(x.Id, false);
                }

                if (x.ListingBookmarks != null && !BookmarkList.ContainsKey(x.Id))
                {
                    BookmarkList.Add(x.Id, x.ListingBookmarks.Any(c => c.UserId == selUser.Id));
                }
                else
                {
                    BookmarkList.Add(x.Id, false);
                }
            });
        }
    }

    async Task LoadData(PeriodFilterCls period)
    {
        ListItems = ListingSvc.GetAllData(Keyword, period);
        await LoadLikeList();
    }

    async Task SelectTag(string Tag)
    {
        Keyword = Tag;
        await LoadData("Tag");
    }

    async Task SelectCategory(string category)
    {
        SelCategory = category;
        await LoadData("Category");
    }


    async Task SelectLocation(string Tag)
    {
        Keyword = Tag;
        await LoadData("Location");
    }

    async Task SelectPeriod(PeriodFilterCls period)
    {
        
        await LoadData(period);
    }



    async Task KeyUp(KeyboardEventArgs e)
    {

        if (e.Key == "Enter")
        {
            await LoadData();

        }
    }
}
