@page "/listing_list"
@page "/listing_list/category/{CategoryId:long}"
@page "/listing_list/subcategory/{SubCategoryId:long}"
@inject IJSRuntime IJS
@inject NavigationManager NavMgr

@inject ListingService ListingSvc
@inject CategoryService CategorySvc
@inject SubCategoryService SubCategorySvc
<BreadcrumbPage LinkName="Listing List" LinkUrl="/listing_list"></BreadcrumbPage>

<div id="vfx-product-inner-item">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="news-search-lt">
                    <input @bind="Keyword" class="form-control" placeholder="Search" type="text">
                    <span class="input-search"> <i class="fa fa-search"></i> </span>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Categories</h3>
                </div>
                <div class="list-group">
                    @if (ListCategories != null)
                        @foreach (var category in ListCategories)
                        {
                            <a href="" @onclick:preventDefault @onclick="()=>OpenCategory(category.Id)" class="list-group-item active"><i class="fa fa-hand-o-right"></i> @category.Name <span class="list-lt">@category.Total</span></a>
                        }
                </div>
                <div class="left-slide-slt-block">
                    <h3>Popular Tags</h3>
                </div>
                <div class="archive-tag">
                    <ul>
                        <li><a href="#" class="active">Amazing</a></li>
                        <li><a href="#">Envato</a></li>
                        <li><a href="#">Themes</a></li>
                        <li><a href="#">Clean</a></li>
                        <li><a href="#">Responsivenes</a></li>
                        <li><a href="#">SEO</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">IOS</a></li>
                        <li><a href="#">Flat</a></li>
                        <li><a href="#">Design</a></li>
                    </ul>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Location List</h3>
                </div>
                <div class="left-location-item">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Manchester</a><span class="list-lt">07</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Lankashire</a><span class="list-lt">04</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> New Mexico</a><span class="list-lt">03</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Nevada</a><span class="list-lt">06</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Kansas</a><span class="list-lt">08</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> West Virginina</a><span class="list-lt">05</span></li>
                    </ul>
                </div>
                <div class="left-slide-slt-block">
                    <h3>Archives</h3>
                </div>
                <div class="left-archive-categor">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> January 2016</a><span class="list-lt">09</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> February 2016</a><span class="list-lt">52</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> March 2016</a><span class="list-lt">36</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> April 2016</a><span class="list-lt">78</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> May 2016</a><span class="list-lt">66</span></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> June 2016</a><span class="list-lt">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 nopadding">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="sorts-by-results">
                        <div class="col-md-6 col-sm-6 col-xs-6"> <span class="result-item-view">Your Search Returned <span class="yellow">10</span> Results</span> </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="disp-f-right">
                                <div class="disp-style"><a href="listing_grid"><i class="fa fa-th"></i></a></div>
                                <div class="disp-style active"><a href="listing_list"><i class="fa fa-th-list"></i></a></div>
                            </div>
                        </div>
                    </div>
                    @if (ListItems != null)
                        @foreach (var item in ListItems)
                        {

                            <div class="recent-listing-box-container-item list-view-item">
                                <div class="col-md-4 col-sm-12 nopadding feature-item-listing-item listing-item">
                                    <div class="recent-listing-box-image">
                                        <h1>@item.Category.Name</h1>
                                        <img src="@(item.ImageUrls.Split(';')[0])" alt="img1">
                                    </div>
                                    <div class="hover-overlay">
                                        <div class="hover-overlay-inner">
                                            <ul class="listing-links">
                                                <li><a href="#"><i class="fa fa-heart green-1"></i></a></li>
                                                <li><a href="#"><i class="fa fa-map-marker blue-1"></i></a></li>
                                                <li><a href="#"><i class="fa fa-share yallow-1"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-12 nopadding">
                                    <div class="recent-listing-box-item">
                                        <div class="listing-boxes-text">
                                            <a href="@($"listing_detail/{item.Id}")">
                                                <h3>@item.Title</h3>
                                            </a> <a href="#"><i class="fa fa-phone"></i> @item.Phone</a>
                                            <p>@item.Desc</p>
                                        </div>
                                        <div class="recent-feature-item-rating">
                                            <h2><i class="fa fa-map-marker"></i> @item.Kota</h2>
                                            <span>
                                                @{
                                                    var ratingKosong = 5 - item.Rating;
                                                }
                                                @for (var x = 0; x < item.Rating; x++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                @for (var x = 0; x < ratingKosong; x++)
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
                <div class="vfx-person-block">
                    <ul class="vfx-pagination">
                        <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    List<Listing> ListItems = new();
    [Parameter]
    public string Keyword { set; get; }
    [Parameter]
    public long CategoryId { set; get; }
    [Parameter]
    public long SubCategoryId { set; get; }
    List<SubCategory> ListSubCategories = new();
    IEnumerable<CategoryCountCls> ListCategories;
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {

       
        ListSubCategories = SubCategorySvc.GetDataWithCategory();
        ListCategories = CategorySvc.GetCategoriesWithCount();
        await LoadData();
    }

    async Task LoadData()
    {
        ListItems = ListingSvc.GetAllData(Keyword, CategoryId, SubCategoryId);
    }

    async Task OpenCategory(long CategoryId)
    {
        SubCategoryId = 0;
        NavMgr.NavigateTo($"/listing_list/category/{CategoryId}");
    }
   
}
